{% extends "base.html" %}

{% block content %}
<p>
    {{ name }}<br>
    订单号 {{ order.id }}<br>
    顾客ID {{ order.cust_id }}<br>
    数量 {{ order.quantity }} | 实际库存 {{ stock }}<br>
    付款金额 <span style="color: red;">￥{{ order.cost }}</span><br>
    收货地址 {{ order.shipaddr.addr }}<br>
    联系方式 {{ order.cust.tel }}<br>
    创建时间 {{ order.create_time }}<br>
    支付时间 {{ order.pay_time }}<br>
    {% if appraisal %}
    <p>
    评分 {{ appraisal.score }}<br>
    评价内容<br>
    {% if appraisal.content %}
    {{ appraisal.content }}<br>
    {% else %}
    用户未填写评价内容<br>
    {% endif %}
    评价时间 {{ appraisal.create_time }}<br>
    </p>
    {% endif %}
    {% if status == 0 %}
    <a href="/admin/order/manage/{{ order.id }}">[加入我管理的订单]</a>
    {% elif order.status == 1 %}
    <a href="/admin/ship/{{ order.id }}">[完成发货]</a>
    {% endif %}
</p>
{% endblock %}