{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<p>
    <a href="/admin/orders/0">待处理</a>
    <a href="/admin/orders/1">待发货</a>
    <a href="/admin/orders/2">待签收</a>
    <a href="/admin/orders/3">待评价</a>
    <a href="/admin/orders/4">已完成</a>
</p>
<p>{{ msg }}</p>
<ul>
{% for order in orders %}
    {{ order.goods.name }} 创建时间{{ order.create_time }} 付款时间{{ order.pay_time }} 数量{{ order.quantity }} 付款金额￥{{ order.cost }}
    <a href="/admin/order/{{ order.id }}">
        [详情]
    </a>
{% endfor %}
</ul>
{% endblock %}