{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<p>
    <img src="{{ goods.cover.url }}" height="400" width="400"><br>
    {{ goods.goods.name }}
    {% if g.user.privilege %}
    <a href="/goods/edit/{{ goods.id }}">编辑</a>
    <a href="/goods/delete/{{ goods.id }}">删除</a>
    <a href="/goods/invent/{{ goods.id }}">盘点库存</a>
    {% endif %}<br>
    价格  <span style="color: red;">￥{{ goods.sale_price }}</span><br>
    库存 {{ goods.stock }} | 销量 {{ goods.sales_num }} | 评分
    {% if score %}
    {{ score }}
    {% else %}
    暂无评分
    {% endif %}<br>
    品牌 {{ brand_name }} | 类别 {{ cate_name }}<br>
    {% if g.user.privilege == 0 %}
    <a href="/cust/purchase/{{ goods.id }}">立即购买</a>
    {% endif %}<br>
</p>
<p>
    {{ goods.description }}<br>
    {% for image in goods.images.all() %}
        <img src="{{ image.url }}" width="500"><br>
    {% endfor %}
</p>
<p>
    顾客评价
    {% if result_list %}
    <ul>
    {% for result in result_list %}
    用户 {{ result.name }} 评分 {{ result.score }}<br>
    {% if result.content %}
    {{ result.content }}<br>
    {% else %}
    用户未填写评价内容<br>
    {% endif %}
    日期 {{ result.create_time.date() }}<br>
    <br>
    {% endfor %}
    </ul>
    {% else %}
    暂无评价
    {% endif %}
</p>
{% endblock %}