<html>
    <body>
        <a href="/index">菜猫首页</a>
        {% if g.user.is_authenticated %}
            {% if g.user.privilege %}
                <p>Hi，管理员 {{ g.user.id }}</p>
                {% if g.user.privilege >= 100 %}
                <a href="/admin/register">管理员注册</a>
                {% endif %}
                <a href="/admin/orders/1">我管理的订单</a>
                <a href="/admin/orders/0">待处理的订单</a>
                <a href="/goods/add">添加商品</a>
                <a href="/cate/edit">编辑分类</a>
                <a href="/brand/edit">编辑品牌</a>
                <a href="/admin/inventory">盘点数据</a>
                <a href="/logout">退出</a>
            {% else %}
                <p>Hi，{{ g.user.name }}</p>
                <a href="/cust/orders/4">我的订单</a>
                <a href="/cust/addr">收货地址</a>
                <a href="/logout">退出</a>
            {% endif %}
        {% else %}
            <p>喵，欢迎来到菜猫</p>
            <a href="{{ url_for('login', next=next) }}">请登录</a>
            <a href="{{ url_for('register', next=next) }}">免费注册</a>
        {% endif %}
        {% block content %}{% endblock %}
    </body>
</html>