{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<p>
    <img src="{{ goods.images.first().url }}" height="400" width="400"><br>
    {{ goods.goods.name }}
    {% if g.user.privilege %}
    <a href="/del_goods/{{ goods.id }}">删除</a>
    {% endif %}<br>
    价格  <span style="color: red;">￥{{ goods.sale_price }}</span><br>
    库存 {{ goods.stock }} | 销量 {{ goods.sales_num }}<br>
    品牌 {{ brand_name }} | 类别 {{ cate_name }}<br>
    {% if g.user.privilege == 0 %}
    <a href="/purchase/{{ goods.id }}">立即购买</a>
    {% endif %}<br>
</p>
<p>
    {{ goods.description }}<br>
    {% for image in goods.images.all() %}
        <img src="{{ image.url }}" height="500" width="500"><br>
    {% endfor %}
</p>
{% endblock %}