{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<p>商品分类</p>
<ul>
{% for category in categories %}
    <li>
        <a href="/cate/index/{{ category.id }}">{{ category.name }}</a>
    </li>
{% endfor %}
</ul>
<p>品牌</p>
<ul>
{% for brand in brands %}
    <li>
        <a href="/brand/index/{{ brand.id }}">{{ brand.name }}</a>
    </li>
{% endfor %}
</ul>
{% endblock %}