{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<p>
    修改密码
</p>
<form action="" method="post">
    {{ form.csrf_token }}
    <p>
        {{ form.old.label }}<br>
        {{ form.old(size=32, required=false) }}<br>
        <span style="color: red;">{{ form.old.errors[0] }}</span>
    </p>
    <p>
        {{ form.new.label }}<br>
        {{ form.new(size=32, required=false) }}<br>
        <span style="color: red;">{{ form.new.errors[0] }}</span>
    </p>
    <p>
        {{ form.repassword.label }}<br>
        {{ form.repassword(size=32, required=false) }}<br>
        <span style="color: red;">{{ form.repassword.errors[0] }}</span>
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}