{% extends "base.html" %}

{% block content %}

<form action="/query" method="get">
    <p>
        <input id="inputs" name="inputs" size="32" type="text" value="{{ inputs }}">
        <input id="submit" name="submit" type="submit" value="查询商品">
    </p>
</form>
{% for goods in goods_list %}
    {% set detail = goods.detail %}
    {% if detail %}
    <p>
        <a href="/goods/index/{{ goods.id }}">
            <img src="{{ detail.cover.url }}", height="200", width="200"><br>
            {{ goods.name }}
        </a>
        <span style="color: red;">￥{{ detail.sale_price }}</span>
    </p>
    {% endif %}
{% endfor %}

{% endblock %}