<html>
    <h1>用户注册</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.user.label }}<br>
            {{ form.user(size=32, required=false) }}<br>
            {% for error in form.user.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32, required=false) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.tel.label }}<br>
            {{ form.tel(size=32, required=false) }}<br>
            {% for error in form.tel.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32, required=false) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.repassword.label }}<br>
            {{ form.repassword(size=32, required=false) }}<br>
            {% for error in form.repassword.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <a href="/login">用户登录</a>
</html>